/*===General===*/
* {
    padding: 0;
    margin: 0;
}

html, body
{
    background-color: #fbfbfb;
    color: #9e9e9e;
}

/*Typhography*/
a
{
    padding: 0 5px;

    -webkit-transition: .3s;

    -o-transition: .3s;

    transition: .3s;
    text-decoration: none;
    letter-spacing: 2px;

    color: #222;
}

a:hover
{
    color: #42a5f5;
}

h1,
h2,
h3,
h4,
h5,
h6
{
    font-family: 'Raleway', sans-serif;

    color: #333;
}

p,
span,
label,
input
{
    font-size: 18px;
    line-height: 2;

    letter-spacing: .7px;

    color: #333;
}

p,
span {
 color: #333!important; 
}

.row {
    margin-bottom: 0;
}

.row .col.push-s1 {
    left: 7.8%;
}

.custom_btn
{
    position: relative;

    display: inline-block;
    overflow: hidden;

    padding: 10px 20px;

    -webkit-transition: .8s cubic-bezier(.165,.84,.44,1);

    -o-transition: .8s cubic-bezier(.165,.84,.44,1);

    transition: .8s cubic-bezier(.165,.84,.44,1);
    text-decoration: none;

    color: #42a5f5;
    border: 2px solid;
    background: transparent;
}

.custom_btn:hover
{
    border-radius: 30px;
    background-color: hsla(207, 90%, 54%, .1);
}

.custom_btn:focus
{
    background-color: transparent;
}

.color-text {
    color: #42a5f5!important;
}

/*header*/
header
{
    margin-top: 0;
    margin-bottom: 0;
    padding: 90px 0 94px 120px;
}

header h1
{
    margin-top: 0;
    margin-bottom: 15px;
}

header p
{
    width: 80%;
}

.header_strong {
    font-weight: 600;
}

/*===Nav===*/
/*nav*/
.page
{
    overflow-x: hidden;
    overflow-y: auto;

    height: 100vh;

    -webkit-transition: .75s;
    -o-transition: .75s;
    transition: .75s;
    -webkit-transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
    transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);

    scroll-behavior: smooth;
}

.inner_offMenu
{
    position: fixed;
    z-index: 999;
    left: -283px;

    width: 265px;
    height: 100%;

    -webkit-transition: .75s;

    -o-transition: .75s;

    transition: .75s;

    background: hsla(207, 89%, 68%, .9);
}

.menu_toggle
{
    position: fixed!important;
    z-index: 900;
    top: 0;
    left: 0;

    width: 100px;
    height: 80px;

    cursor: pointer;

    border-bottom-right-radius: 100%;
    background-color: #2196f3 ;
}

.menu_toggle:active i
{
    opacity: .8;
}

.menu_toggle i
{
    color: #f0f0f0;
}

.menu_toggle .menu_open,
.menu_toggle .menu_close
{
    position: absolute;
    top: 50%;
    left: 50%;

    margin-top: -15px;
    margin-left: -12px;

    transition: transform .7s cubic-bezier(1, .005, .25, 1),
    -webkit-transform .7s cubic-bezier(1, .005, .25, 1);
}

.menu_toggle .menu_open
{
    -webkit-transform-origin: -100px -100px;
    -ms-transform-origin: -100px -100px;
    transform-origin: -100px -100px;
}

.menu_toggle .menu_close
{
    -webkit-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
    -webkit-transform-origin: -100px -160px;
    -ms-transform-origin: -100px -160px;
    transform-origin: -100px -160px;
}

.menu_items
{
    position: fixed;
    bottom: 0;
    left: 30px;

    margin: 0;
    padding: 0;

    transition: transform .7s 0s cubic-bezier(1, .005, .24, 1),
    -webkit-transform .7s 0s cubic-bezier(1, .005, .24, 1);
    -webkit-transform: translateX(-300px);
    -ms-transform: translateX(-300px);
    transform: translateX(-300px);
}

.menu_items li
{
    height: 60px;
    margin-bottom: 20px;

    transition: transform .7s 0s cubic-bezier(1, .005, .24, 1),
    -webkit-transform .7s 0s cubic-bezier(1, .005, .24, 1);
    -webkit-transform: translateX(-300px);
    -ms-transform: translateX(-300px);
    transform: translateX(-300px);
}

.menu_items li:nth-child(2)
{
    margin-left: 10px;
}

.menu_items li:nth-child(3)
{
    margin-left: 20px;
}

.menu_items li:nth-child(4)
{
    margin-left: 30px;
}

.menu_items li a
{
    font-size: 18px;
    color: #fff;
    font-weight: 600;
}

/*Let's open up the menu*/
.shazam
{
    left: 5%;
    -webkit-transform: matrix3d(.62,0,.00,-.0002,.00,.7,.00,0,0,0,1,0,0,0,0,1);
    transform: matrix3d(.62,0,.00,-.0002,.00,.7,.00,0,0,0,1,0,0,0,0,1);
}

.nav_shazam .menu_items
{
    transition: transform .35s .45s cubic-bezier(.175, .885, .32, 1.275),
    -webkit-transform .35s .45s cubic-bezier(.175, .885, .32, 1.275);
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
}

.nav_shazam .inner_offMenu
{
    left: 0;
}

.nav_shazam .menu_open
{
    -webkit-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    transform: rotate(-20deg);
}
.nav_shazam .menu_close
{
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}

.nav_shazam li
{
    transition: transform .35s .45s cubic-bezier(.175, .885, .32, 1.275),
    -webkit-transform .35s .45s cubic-bezier(.175, .885, .32, 1.275);
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
}

.nav_shazam li:nth-child(2)
{
    -webkit-transition-delay: .47s;
    -o-transition-delay: .47s;
    transition-delay: .47s;
}

.nav_shazam li:nth-child(3)
{
    -webkit-transition-delay: .48s;
    -o-transition-delay: .48s;
    transition-delay: .48s;
}

.nav_shazam li:nth-child(4)
{
    -webkit-transition-delay: .49s;
    -o-transition-delay: .49s;
    transition-delay: .49s;
}

/*===home container===*/
.home_container {
    height: 100vh;
    position: relative;
    top: 0;
    background-image: url(../img/motor.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.home_container::before
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    height: 100vh;

    content: '';

    background-color: hsla(0, 0%, 8%, .4);
}

.intro
{
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;

    width: 100%;
    max-width: 850px;
    margin: 0 auto;
    padding: 60px 30px;

    -webkit-transform: translate(0%, -50%);

    -ms-transform: translate(0%, -50%);

    transform: translate(0%, -50%);
    text-align: center;
    text-align: left;
    z-index: 1;
}

.intro h2
{
    margin: 15px 0 15px;

    letter-spacing: 4px;
    color: #fff;
    font-weight: bold;
    font-size: 75px;
}

.intro p
{
    color: #fff!important;
    font-size: 22px;
}

.mouse-icon
{
    position: absolute;
    bottom: 30px;
    left: 50%;

    display: block;

    width: 30px;
    height: 50px;
    margin-left: -15px;

    opacity: .7;
    border: 2px solid #fff;
    border-radius: 16px;
}

.mouse-icon .wheel
{
    position: relative;
    top: 6px;

    width: 4px;
    height: 10px;
    margin-right: auto;
    margin-left: auto;

    -webkit-animation-name: scroll;

    animation-name: scroll;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-play-state: running;
    animation-play-state: running;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;

    border-radius: 10px;
    background: #fff;
}

@-webkit-keyframes scroll
{
    0%
    {
        top: 5px;

        opacity: 0;
    }
    30%
    {
        top: 10px;

        opacity: 1;
    }
    100%
    {
        top: 25px;

        opacity: 0;
    }
}

@keyframes scroll
{
    0%
    {
        top: 5px;

        opacity: 0;
    }
    30%
    {
        top: 10px;

        opacity: 1;
    }
    100%
    {
        top: 25px;

        opacity: 0;
    }
}

/*===Our services===*/
#services {
    padding-bottom: 75px;
}


blockquote
{
    border-color: #42a5f5;
}

/*===choose===*/
#choose {
    background-color: #f4f4f4;
    padding-bottom: 75px;
}

#choose .row .col div {
    margin-left: 0;
    padding-left: 0;
}

.caret {
    fill: #9e9e9e!important;
}

.dropdown-content li > a, .dropdown-content li > span {
    color: #42a5f5 !important
}

.choose_btn {
    margin-top: 1rem;
    height: 54px;
    position: relative;
}

.choose_btn .custom_btn {
    position: absolute;
    bottom: 5px;
    left: 50px;   
} 

/*===advantages===*/
#advantages {
    padding: 50px 0 40px 0;
}

.adv_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.adv_item i {
    font-size: 40px;
    color: #42a5f5;
}

/*===contact===*/
#contact {
    background-color: #f4f4f4;
    padding-bottom: 20px;
}

.contact
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: justify;

    -ms-flex-pack: justify;

    justify-content: space-between;
}

.addres-block p
{
    margin-bottom: 13px;

    text-align: left;
}



.addres-block span
{
    font-weight: 900;

    text-align: left;
}

.social_media
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-align: center;

    -ms-flex-align: center;

    align-items: center;
}

.social_media a
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-align: center;

    -ms-flex-align: center;

    align-items: center;
}

.social_media a img
{
    width: 50px;
    height: 50px;
}

form .custom_btn
{
    font-weight: bold;

    margin-bottom: 2%;

    cursor: pointer;
}

/* label focus color */
.input-field input:focus + label
{
    color: #42a5f5!important;
}
/* label underline focus color */
.input-field input:focus
{
    border-bottom: 1px solid #42a5f5!important;
    -webkit-box-shadow: 0 1px 0 0 #42a5f5!important;
    box-shadow: 0 1px 0 0 #42a5f5!important;
}

/* icon prefix focus color */
.input-field .prefix.active
{
    color: #42a5f5;
}

/* label focus color */
.input-field textarea:focus + label
{
    color: #42a5f5;
}

/* label focus color */
.input-field textarea:focus + label
{
    color: #42a5f5!important;
}

/* textarea underline focus color */
.input-field textarea:focus
{
    border-bottom: 1px solid #42a5f5!important;
    -webkit-box-shadow: 0 1px 0 0 #42a5f5!important;
    box-shadow: 0 1px 0 0 #42a5f5 !important;
}

/*===floating action btn===*/
.fixed-action-btn {
    right: 35px;
}

iframe {
    margin-bottom: 40px;
}

/*===footer===*/
.page-footer {
    background-color: #fbfbfb;
}

.copyr {
    text-align: center;
    color: #9e9e9e;
    padding-bottom: 40px;
    padding-top: 0;
}

.copyr a {
    color: #9e9e9e;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 18px;
}

.copyr a:hover {
    color: #42a5f5;
}
