@media only screen and (max-width: 991px)
{
    header
    {
        padding: 100px 0 100px 30px!important;

        text-align: left;
    }

    header p
    {
        width: 100%;
    }
}

@media only screen and (max-width: 600px)
{
    header
    {
        padding: 100px 0 100px 10!important;
    }
}